.page_title{
	margin-top: 150px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.page_title h1{
	font-size: 36px;
}
.page_title p{
	margin-top: 30px;
	font-size: 16px;
	line-height: 160%;
}


/*갤러리*/

main{
	margin-top: 160px;
	padding: 0px 32px;
}
main .container1{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 336px);
	gap: 32px;
}
main .container1 .item{
	text-align: right;
	padding: 20px;
	font-size: 16px;
	font-weight: 700;
	box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
}
main .container1 .item:nth-child(1){
	grid-column: 1/span 1;
	grid-row: 1/span 1;
	background-image: url(img/graduates/g1.jpg);
	background-size: cover;
	background-position: center;
	color: #ffffff;
}
main .container1 .item:nth-child(2){
	grid-column: 3/span 1;
	grid-row: 1/span 1;
	background-image: url(img/graduates/g2.jpg);
	background-size: cover;
	background-position: 30%;
	color: #ffffff;
}
main .container1 .item:nth-child(3){
	grid-column: 4/span 1;
	grid-row: 1/span 1;
	background-image: url(img/graduates/g3.png);
	background-size: cover;
	background-position: left;
	color: #ffffff;
}
main .container1 .item:nth-child(4){
	grid-column: 1/span 1;
	grid-row: 2/span 1;
	background-image: url(img/graduates/g4.jpg);
	background-size: cover;
	background-position: 20%;
}
main .container1 .item:nth-child(5){
	grid-column: 2/span 1;
	grid-row: 2/span 1;
	background-image: url(img/graduates/g5.jpg);
	background-size: cover;
	background-position: left;
}
main .container1 .item:nth-child(6){
	grid-column: 3/span 1;
	grid-row: 2/span 1;
	background-image: url(img/graduates/g6.jpg);
	background-size: cover;
	background-position: center;
	color: #ffffff;
}
main .container1 .item:nth-child(7){
	grid-column: 2/span 1;
	grid-row: 3/span 1;
	background-image: url(img/graduates/g7.jpg);
	background-size: cover;
	background-position: 30%;
}
main .container1 .item:nth-child(8){
	grid-column: 3/span 2;
	grid-row: 3/span 1;
}
main .container1 .more{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 40px;
}

main .container1 .more p{
	text-align: center;
	font-size: 36px;
	line-height: 140%;
}
main .container1 .more .btn{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 10px;
}
main .container1 .more a{
	text-align: center;
	width: 235px;
	padding: 12px 0;
	background-color: #0042A0;
	color: white;
}

/*졸업생 인터뷰*/

.container2{
	display: flex;
	margin-top: 160px;
	height: 465px;
	width: 100%;
	background-color: #213639;
	justify-content: space-between;
}
.container2 img{

}
.container2 .content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: white;
	padding-left: 20%;
}
.container2 .content .info{
	text-align: justify;
	line-height: 160%;
	width: 458px;
	font-size: 18px;
}
.container2 .name{
	margin-top: 32px;
	font-size: 24px;
}
.container2 a{
	margin-top: 32px;
	color: white;
	text-decoration: underline;
	font-size: 14px;
}


/*피켓*/

.container3{
	display: flex;
	margin-top: 160px;
	width: 100%;
	padding: 85px 0;
	background-color: #0060BF;
	color: white;
	align-items: center;
	justify-content: center;
}
.container3 .content{
	width: 70%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	gap: 100px;
	}
.container3 .subtitle h2{
	font-size: 48px; 
	font-weight: bold;
}
.container3 .subtitle p{
	margin-top: 20px;
	font-size: 18px; 
}
.container3 .info{
	display: flex;
/*	flex: 1 0 100%;*/
	font-size: 20px;
	align-items: center;
	gap: 44px;
}
.container3 .info .line{
	border: 1px solid white;
	width: 0.1px;
	height: 170px;
}
.container3 .info .item{
	text-align: center;
}
.container3 .info .item h4{
	margin-bottom: 36px;
}
.container3 .info .item p span{
	font-size: 72px;
	font-weight: bold;

}
/*사진첩*/

main .container4{

}
main .container4 .suntitle{
	display: flex;
	justify-content: space-between;
}
main .container4 .album{
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, auto));
	grid-auto-rows: minmax(160px, auto);
	gap: 32px;
}
.container4 .item{
	background-color: gray;
}
.container4 .item:nth-child(1){
	background-image: url(img/graduates/h1.jpg);
	background-size: cover;
}
.container4 .item:nth-child(2){
	background-image: url(img/graduates/h2.jpg);
	background-size: cover;
}
.container4 .item:nth-child(3){
	background-image: url(img/graduates/h3.jpg);
	background-size: cover;
}
.container4 .item:nth-child(4){
	background-image: url(img/graduates/h4.jpg);
	background-size: cover;
}
.container4 .item:nth-child(5){
	background-image: url(img/graduates/h5.jpg);
	background-size: cover;
}
.container4 .item:nth-child(6){
	background-image: url(img/graduates/h6.jpg);
	background-size: cover;
}
