main{
	margin-top: 160px;
	padding: 0px 32px;
}


/*좌측 사이드*/

.left{
	display: flex;
	flex-direction: column;
	width: 20vw;
	float: left;
}
.left .people hr{
	width: 80%;
	color: rgba(0, 0, 0, 0.2);
	margin: 9px 0;
}
.left .people .student{
	display: flex;
}
.left .people .student .image{
	width: 91px;
	height: 91px;
	border-radius: 50%;
	background-size: cover;
}
.left .people .student .s1{
	background-image: url(img/graduates/s1.png);
}
.left .people .student .s2{
	background-image: url(img/graduates/s2.png);
}
.left .people .student .s3{
	background-image: url(img/graduates/s3.png);
}
.left .people h3{
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 50px;
}
.left .people .student h4{
	font-size: 24px;
	font-weight: 400;
	margin-bottom: 4px;
}
.left .people .student p{
	font-size: 16px;
}
.left .people .student .detail{
	margin-left: 30px;
	margin-top: auto;
	margin-bottom: auto;
}

.left .program{
	margin-top: 150px;
}
.left .program h2{
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 50px;
}
.left .program .list{
	display: flex;
	align-items: center;
}
.left .program .list:not(:first-child){
	margin-top: 18px;
}
.left .program .list h3{
	font-size: 24px;
}
.left .program .list .detail{
	margin-left: 30px;
}
.left .program .list .detail h4{
	font-size: 16px;
	margin-bottom: 2px;
}
.left .program .list .detail p{
	font-size: 12px;
	color: #757575;
}
.left .program .list .p1{
	margin-left: 35px;
	width: 60px;
	height: 60px;
	background-size: cover;
	background-image: url(img/graduates/p1.png);
}
.left .program .list .p2{
	margin-left: 35px;
	width: 60px;
	height: 60px;
	background-size: cover;
	background-image: url(img/graduates/p2.png);
}
.left .program .list .p3{
	margin-left: 35px;
	width: 60px;
	height: 60px;
	background-size: cover;
	background-image: url(img/graduates/p3.png);
}
.left .sns{
	margin-top: 80px;
}
.left .sns .icon{
	margin-top: 24px;
}
.left .sns .icon a i{
	font-size: 52px;
	color: black;
	transition: all 0.3s;
}
.left .sns .icon a:not(:first-child){
	margin-left: 18px;
}
.left .sns .icon a i:hover{
	color: #EA7224;
}

/*본문*/

.right{
	display: flex;
	flex-direction: column;
	margin-left: 22%;
}
.right .container1{
	display: flex;
	flex-direction: column;
}
.right .container1 .page_title{
	margin-bottom: 46px;
}
.right .container1 .page_title p{
	font-size: 24px;
	color: #757575;
}
.right .container1 .page_title h2{
	font-size: 48px;
}
.right .container1 .date{
	display: flex;
	justify-content: right;
	gap: 10px;
	margin-bottom: 4px;
}
.right .container1 .date h4{
	margin-left: 38px;
	font-size: 20px;
	font-weight: 400;
	color: #bdbdbd;
}
.right .container1 .date p{
	font-size: 18px;
	font-weight: 200;
	color: #bdbdbd;
}
.right .container1 .interview{
	margin: 100px 0;
}
.right .container1 .interview .item:not(:first-child){
	margin-top: 100px;
}
.right .container1 .interview .item h4{
	font-size: 24px;
	margin-bottom: 24px;
}


/*사진1*/

.image2{
	background-image: url(img/graduates/i2.png);
	height: 640px;
	background-size: cover;
}


/*두번째 문단*/

.right .container2{
	display: flex;
	flex-direction: column;
}
.right .container2 .interview{
	margin: 100px 0;
}
.right .container2 .interview .item:not(:first-child){
	margin-top: 100px;
}
.right .container2 .interview .item h4{
	font-size: 24px;
	margin-bottom: 24px;
}


/*사진2*/
.image3{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 500px;
	gap: 30px;
}
.image3 .i3{
	background-image: url(img/graduates/i3.png);
	background-size: cover;
}
.image3 .i4{
	background-image: url(img/graduates/i4.png);
	background-size: cover;
}
.image3 .i5{
	background-image: url(img/graduates/i5.png);
	background-size: cover;
}

/*세 번째 문단*/

.right .container3{
	display: flex;
	flex-direction: column;
}
.right .container3 .interview{
	margin: 100px 0;
}
.right .container3 .interview .item:not(:first-child){
	margin-top: 100px;
}
.right .container3 .interview .item h4{
	font-size: 24px;
	margin-bottom: 24px;
}


/*수상작품*/
.container4{
	display: flex;
	flex-direction: column;
}
.container4 h3{
	font-size: 28px;
}
.container4 .image4{
	display: flex;
	gap:  30px;
	color: white;
	align-items: flex-end;
}
.container4 .image4 .item{
	display: flex;
	flex-direction: column;
	padding: 30px 24px;
	justify-content: flex-end;
}
.container4 .image4 .item h4{
	font-size: 18px;
	color: white;

}
.container4 .image4 .item p{
	font-size: 28px;
	font-weight: bold;
	line-height: 160%;
	color: white;
}
.container4 .image4 .item:nth-child(1){
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.0),
		rgba(0, 0, 0, 0.8)),
	url(img/graduates/i6.png);
	background-size: cover;
	background-position: 40%;
	flex: 1 1 0;
	height: 334px;
}
.container4 .image4 .item:nth-child(2){
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.0),
		rgba(0, 0, 0, 0.8)),
	url(img/graduates/i7.png);
	background-size: cover;
	background-position: center;
	flex: 1 1 0;
	height: 334px;
}
.container4 .image4 .item:nth-child(3){
	background: linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.0),
		rgba(0, 0, 0, 0.8)),
	url(img/graduates/i8.png);
	background-size: cover;
	background-position: 50% 35%;
	flex: 2 2 0;
	height: 482px;
}